<div  *ngIf="image.url" class="container pt-4 pb-4 mb-4 mt-4">

    <div class="row">
        
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="card">
                <a href="{{ image.url }}">
                    <img src="{{ image.url }}" class="card-img-top" alt="...">
                </a>
            </div>
        </div>
        
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div>
                        <label><b>Tags</b></label>
                        <div class="badges">
                            <span *ngFor="let tag of image.tags" class="badge badge-warning mr-1">{{ tag }} </span>
                        </div>
                    </div>
                    
                    <div class="pt-2">
                        <p><span><fa-icon [icon]="['fas','thumbs-up']"></fa-icon> Me gustas: {{ image.likes}}</span></p>
                        <p><span><fa-icon [icon]="['fas','eye']"></fa-icon> Vistas: {{image.views}}</span></p>
                        
                    <div>
                </div>
            </div>
        </div>
    </div>
</div>
