
<footer id="footer" class="pb-4 pt-4">
    <div class="container">
        <div class="row text-center">
            <div class="col-12 col-lg">
                <a href="#">Preguntas frecuentes</a>
            </div>
            <div class="col-12 col-lg">
                <a routerLink="/contact">Contáctanos</a>
            </div>
            <div class="col-12 col-lg">
                <a href="#">Prensa</a>
            </div>
            <div class="col-12 col-lg">
                <a href="#">Terminos y condiciones</a>
            </div>
            <div class="col-12 col-lg">
                <a href="#">Privacidad</a>
            </div>
            <div class="col-12 col-lg">
                <a href="#">Redes sociales</a>
            </div>
        </div>
    </div>
</footer>
