
<section id="services" class="pl-2 pr-2">
    <div class="content-fluid">
        <div class="row mr-0 ml-0">
            <div class="col-12 col-lg-6 pl-0 pr-0">
                <img src="assets/images/honolulu.jpg" alt="honolulu">
            </div>
            <div class="col-12 col-lg-6  pt-4 pb-4">
                <h2>Venezuela techenologies - Junio 2021</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, aperiam nam similique totam nobis numquam inventore illum architecto, minus molestias eum cupiditate quae nostrum culpa, eos beatae molestiae aliquam tenetur.</p>
                <a href="#" class="btn btn-outline-light">Conoce más</a>
            </div>
        </div>
    </div>
</section>

